.bundle
.sass-cache/
~*
.#*
*~
*#
#*
.rvmrc
.specjour/
.DS_Store
*.orig
*.sqlite3*
*.swp
capybara-*.html
config/cucumber.yml
config/database.yml
config/server.yml
config/goog_domain.yml
logfile
log/*.log
rerun.txt
tmp/**
vendor/bundle/
vendor/ruby/
.autotest
coverage/
tags
pgp/
