    <!-- Das Footer -->
    <footer class="row">
      <section class="two columns">
        <h6><strong>Keypunch</strong></h6>
      </section>
      <section class="ten columns">
        <p>A group password management application made by <a href="http://domain7.com/">Domain7</a> Copyright &copy; <%= Time.now.year %></p>
      </section>
    </footer>
    <!-- /Das Footer -->
  </div>
</body>
</html>
