<% content_for :side_column do %>
  <%= render :partial => "groups/edit_actions" %>
<% end %>

<h1><%= title "New Group" %></h1>
<hr />

<p>
  <ul class="breadcrumb">
    <% display_breadcrumb_trail(@group.parent, true) if @group.parent %>
  </ul>
</p>

<div class="panel">
  <%= render :partial => 'form' %>
</div>
